/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* COMMON */
html{
    font-family: 'Fredoka', sans-serif;
    font-size: 62.5%;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.mb{
    margin-bottom: 8px;
}

/* MAIN */
/* Section: Title */
.container section:first-child{
    text-align: center;
}

h1{
    color: #e53170;
    font-size: 4rem;
    margin-top: 1em;
}

section > p{
    font-size: 1.8rem;
    margin-top: 2.5em;
}

/* Section: float */
.clearfix::after{
    content:"";
    display:table;
    clear: both;
}

.card{
    width: calc(100% / 3 - 2.3em);
    margin:5em 2.3em 0 0;
    background-color: #0f0e17;
    box-shadow: 5px 3px 5px 3px rgba(0, 0, 0, .1);
    float: left;
}

.row .card:nth-child(3n+3){
    margin-right: 0;
}

img{
    width: 104px;
    float: left;
}

.info{
    float: left;
    color: white;
    padding: 11px;
}

.info h2{
    font-size: 2rem;
}

.info p, a{
    font-size: 1.5rem;
}

a{
    color:#17ccf2;
    text-decoration: none;
}